<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Servicio</title>
</head>

<body class="bg-dark ">

    <!--Nav-->
    <nav style="background-color: #6F2CF4;" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-white " th:href="@{/inicio}">Eventos </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white " aria-current="page" th:href="@{/inicio}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" th:href="@{/nosotros}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/servicios}">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/loginForm}" class="text-white nav-item  nav-link">Iniciar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Titulo-->
    <div class="container mt-3">
        <p class="fs-1 text-light ">Sobre nosotros</p>
    </div>


    <!--contenido-->
    <div class="container d-flex mt-5 justify-content-center gap-3 text-light ">
        <div class="row">
            <div class="col">
                <p class="fs-2">Bienvenidos a <strong>LocalNice</strong></p>
                <p>En LocalNice, nos apasiona transformar momentos
                    especiales en experiencias inolvidables. Somos una empresa
                    dedicada a la creación y elaboración de eventos extraordinarios,
                    desde íntimas celebraciones de cumpleaños hasta grandiosas bodas y
                    eventos privados.</p>
                <p class="fs-2">Nuestra misión</p>
                <p>Nuestra misión es superar tus expectativas y hacer realidad la
                    visión única que tienes para tu evento. Nos esforzamos por
                    capturar la esencia de cada ocasión, creando momentos que
                    perdurarán en la memoria de tus invitados.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img 
                class="rounded-start-5 border " 
                th:src="@{/imgs/nosotros.jpg}" 
                src="../static/imgs/nosotros.jpg"
                width="500px">
            </div>
        </div>
    </div>

    <!--pie de pagina-->
    <div style="background-color: #2B3035;" class="container-fluid mt-3">
        <div class="row d-flex justify-content-center align-items-center p-5 text-white ">
          <div class="col">
            <p>Av los rosales</p>
            <p>224 Lima</p>
            <p>Perú</p>
          </div>
          <div class="col">
            <p>Tel.: 914-123-456</p>
            <p>Fax: 914-123-456</p>
            <p>elp@elp.edu.pe</p>
          </div>
          <div class="col">
            <p>© 2035 Creado por</p>
            <p>LocalNice</p>
            <p>elp.com</p>
          </div>
          <div class="col">
            <a style="background-color: #6F2CF4;" class="btn text-white " th:href="@{/servicios}">Reservar una reunion</a>
          </div>
        </div>
      </div>
    


    <!--Script bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>